.results{
    background-color: #0E3094;
    padding-top: 30px;

}

.content-results{
    display: flex;
    justify-content: space-evenly;
    color: #fff;

}

.numbers{
    width: 60%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.numbers .number{
    width: 45%;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;

}

.numbers .number h4{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;

}
.results-text h4{
    color: #fff;
    font-size: 40px;

}

.results-text p{
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}